@font-face {
  font-family: "Codec Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Codec Pro Regular"), url("./fonts/CodecPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Codec Pro Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Codec Pro Extrabold"), url("./fonts/codec-pro-extrabold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Codec Pro Regular", Arial, sans-serif;
  color: rgb(59, 59, 59);
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem 1.5rem 4rem;
}
header img {
  cursor: pointer;
}
header button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
header button:hover {
  border-bottom: 2px solid rgb(59, 59, 59);
}

.nav-item {
  position: relative;
}

.nav-dropdown {
  z-index: 15;
  position: absolute;
  top: 3rem;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.nav-dropdown p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0;
}
.nav-dropdown p:hover {
  background-color: #E8CA00;
}

aside {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100dvh;
  width: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0 1rem 0;
  z-index: 5;
}
aside .cart-btn-container {
  background-color: #E8CA00;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
aside .cart-btn-container .cart-amount {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  background-color: rgb(59, 59, 59);
  padding: 0.25rem 0.3rem;
  border-radius: 50%;
}
aside .cart-btn-container .cart-amount p {
  color: white;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.08rem;
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
aside .sidebar .page-locator {
  height: 30px;
  width: 10px;
  background-color: rgb(174, 183, 193);
  border-radius: 1rem;
  cursor: pointer;
}
aside .sidebar p:first-of-type {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-bottom: 2rem;
  cursor: pointer;
}
aside .sidebar .active-location {
  background-color: #E8CA00;
  width: 20px;
  cursor: auto;
}

.sidebar-text {
  font-size: 2rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.cart-modal {
  position: absolute;
  top: 2.3rem;
  right: 4.8rem;
  width: 360px;
  background-color: #fff;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
}
.cart-modal .cart-head {
  background-color: #E8CA00;
  border-bottom: 2px solid black;
}
.cart-modal .cart-head h3 {
  font-family: "Codec Pro Extrabold";
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
  padding: 1rem;
}

.cart-items {
  padding: 1rem;
}

.cart-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-family: "Codec Pro Extrabold";
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 1rem 1rem;
  border: 2px solid white;
}

.hero {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 80vh;
  width: calc(100vw - 100px);
}

.feature-img {
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./assets/feature-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}
.feature-img h1 {
  z-index: 5;
  color: white;
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: -0.5rem;
  margin: 0;
}
.feature-img p {
  color: white;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 80%;
}
.feature-img button {
  font-family: "Codec Pro Extrabold";
  width: 160px;
  height: 70px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
.feature-img button:hover {
  background-color: black;
  color: white;
}

.secondary-img {
  grid-row: span 2;
  background: url("./assets/secondary600.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
}

.graphics-container {
  display: grid;
  grid-template-columns: 40% 1fr;
}
.graphics-container .arrow-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.graphics-container .arrow-container svg {
  height: 90%;
  width: 90%;
}
.graphics-container .arrow-container:hover {
  background-color: white;
  cursor: pointer;
}
.graphics-container .arrow-container:hover svg {
  fill: black;
}
.graphics-container .read-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Codec Pro Extrabold";
  font-size: 3rem;
  padding-left: 2rem;
  background-color: #E8CA00;
}

.products-display {
  padding: 2rem 100px 2rem 2rem;
}

.add-cart-btn {
  font-family: "Codec Pro Extrabold";
  border: none;
  background-color: #E8CA00;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.add-cart-btn:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in;
}

.split-row {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 2rem 0;
}

.product-img-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img-main img {
  height: clamp(200px, 50vh, 50vh);
}

.product-main-content {
  padding: 2rem;
}
.product-main-content h2 {
  font-family: "Codec Pro Extrabold";
  font-size: 3.4rem;
}
.product-main-content h3 {
  margin: 0;
  font-size: 2rem;
}
.product-main-content h4 {
  font-size: 2rem;
}
.product-main-content span {
  color: rgb(202, 28, 28);
  font-size: 1.4rem;
  text-decoration: line-through;
  padding-left: 0.5rem;
}
.product-main-content p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.grid-row-thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6rem 0;
}

.product-img-secondary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img-secondary img {
  height: clamp(200px, 50vh, 50vh);
}

.hover-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  width: 150%;
  height: 150%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 30%, transparent 60%);
  padding: 12rem 12rem;
  z-index: 5;
}
.hover-div h2 {
  color: white;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
}
.hover-div p {
  color: lightgray;
  font-size: 2.4rem;
}
.hover-div .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.hover-div .small-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.hover-div .small-btn:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}
.hover-div .text-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}
.hover-div .text-btn:hover {
  text-decoration: underline;
}

.mens-banner {
  display: grid;
  grid-template-columns: 30% 1fr 35%;
  width: calc(100vw - 120px);
  grid-row: auto;
}
.mens-banner img:hover {
  filter: none;
}

.banner-content div:first-of-type {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.banner-content .banner-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8CA00;
  height: 50%;
}
.banner-content .banner-text h2 {
  text-align: center;
  font-family: "Codec Pro Extrabold";
  font-size: 3rem;
  margin: 0;
}
.banner-content img {
  max-width: 100%;
}
.banner-content .mini-arrow-container:last-of-type {
  transform: translateX(0);
  transform: translateY(-40%);
  background-color: #fff;
}
.banner-content .mini-arrow-container:last-of-type svg {
  fill: black;
}

.mini-arrow-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  transform: translateX(-210%);
}
.mini-arrow-container svg {
  height: 90%;
  width: 90%;
  fill: white;
}

.mini-arrow-container:hover {
  background-color: white;
  cursor: pointer;
}
.mini-arrow-container:hover svg {
  fill: black;
}

.mini-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}
.mini-grid img {
  grid-column: span 3;
  width: 100%;
  height: 100%;
}
.mini-grid .reverse-arrow {
  background-color: #E8CA00;
}
.mini-grid .reverse-arrow svg {
  fill: black;
}

.boys-img {
  margin-left: auto;
  height: 100%;
  width: 100%;
  background: url("./assets/mens-fashion.webp");
  background-size: cover;
  filter: saturate(0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.boys-img h2 {
  font-family: "Codec Pro Extrabold";
  z-index: 5;
  color: rgba(255, 255, 255, 0.47);
  font-size: 10rem;
  margin: 0;
  cursor: pointer;
}
.boys-img h2:hover {
  color: white;
  transition: all 1s ease-in-out;
}

.boys-img:hover {
  filter: none;
  transition: all 1s ease-in-out;
}
.boys-img:hover h2 {
  transition: all 1s ease-in-out;
  color: white;
}

#mensLink {
  margin-right: 0.3rem;
  width: 650px;
  margin-bottom: 0;
}

.products-carousel {
  position: relative;
  padding: 6rem 0 2rem 0;
}
.products-carousel h2 {
  font-family: "Codec Pro Extrabold";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 10;
  letter-spacing: -0.8rem;
  line-height: 12.5rem;
  opacity: 0.1;
  padding-right: 1.2rem;
}

.slick-list {
  padding: 16rem 4rem 12rem 4rem !important;
}

.slider-img {
  padding: 0 4rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  position: relative;
}
.slider-img img {
  max-width: 80%;
  max-height: 200px;
  min-height: 200px;
}

.slick-active {
  transform: scale(1);
  background: transparent;
  transition: all 1s ease-in-out;
}

.slick-current {
  transform: scale(1.6);
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-hover-div {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 30%, transparent 60%);
  padding: 6rem 8rem 2rem 8rem;
  transition: all 1s ease-in-out;
}
.slider-hover-div p {
  color: lightgray;
  font-size: 3.4rem;
}

.slick-dots li {
  padding: 0 1.4rem;
}
.slick-dots li button:before {
  color: #E8CA00;
  font-size: 1rem;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.jewellry-link {
  display: grid;
  grid-template-columns: 80% 1fr;
  height: 100px;
  width: 40vw;
  padding-right: 100px;
  margin-left: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
.jewellry-link div:first-of-type {
  background-color: #E8CA00;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.jewellry-link div:first-of-type h2 {
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}
.jewellry-link div:first-of-type:hover {
  background-color: rgb(59, 59, 59);
}
.jewellry-link div:first-of-type:hover h2 {
  color: #E8CA00;
}
.jewellry-link div:last-of-type {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.jewellry-link div:last-of-type svg {
  fill: white;
  height: 80%;
  width: 80%;
}
.jewellry-link div:last-of-type:hover {
  background-color: white;
}
.jewellry-link div:last-of-type:hover svg {
  fill: black;
}

.primary {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 0rem 100px 2rem 2rem;
}
.primary img {
  max-height: 600px;
  margin: auto;
}

.primary-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.primary-content h2 {
  font-family: "Codec Pro Extrabold";
  font-size: 3.4rem;
}
.primary-content h3 {
  margin: 0;
  font-size: 2rem;
}
.primary-content h4 {
  font-size: 2rem;
}
.primary-content span {
  color: rgb(202, 28, 28);
  font-size: 1.4rem;
  text-decoration: line-through;
  padding-left: 0.5rem;
}
.primary-content p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0;
}
.primary-content .text-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  padding-right: 4rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.page-layout {
  padding: 0 8rem 0 4rem;
}
.page-layout img {
  max-width: 400px;
}
.page-layout .btn-container {
  padding-top: 3rem;
}

.second-row {
  grid-template-columns: 60% 1fr;
}
.second-row img {
  grid-column: 2;
}
.second-row .page-content {
  grid-column: 1;
  grid-row: 1;
}

.electronics-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 67%;
  grid-row: auto;
  height: 80vh;
  width: calc(100vw - 120px);
  padding-left: 4rem;
  margin-bottom: 8rem;
}

.inner-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
}

.title {
  background-color: #E8CA00;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.title h1 {
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  font-size: 4rem;
}

.electronics-title {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

.mens-feature,
.jewelery-feature,
.electronic-feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: span 2;
}
.mens-feature h2,
.mens-feature p,
.jewelery-feature h2,
.jewelery-feature p,
.electronic-feature h2,
.electronic-feature p {
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  z-index: 5;
  font-size: 7rem;
  letter-spacing: -0.2rem;
  padding: 1rem 0 0 3rem;
}
.mens-feature img,
.jewelery-feature img,
.electronic-feature img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mens-feature .text-btn,
.jewelery-feature .text-btn,
.electronic-feature .text-btn {
  font-family: "Codec Pro Extrabold";
  font-size: 1.4rem;
  z-index: 5;
  align-self: flex-start;
  margin-left: 3.5rem;
  border: none;
  background-color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.person-img {
  border-right: 10px solid white;
}
.person-img img {
  max-width: 100%;
  max-height: 100%;
}

.arrows {
  max-height: 100%;
  border-right: 10px solid white;
}
.arrows .arrow-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows .arrow-container svg {
  height: 90%;
  width: 90%;
  fill: white;
}
.arrows .arrow-container:nth-of-type(2) {
  background-color: #E8CA00;
}
.arrows .arrow-container:nth-of-type(2) svg {
  fill: black;
}
.arrows .arrow-container:nth-of-type(3),
.arrows .arrow-container:hover {
  background-color: white;
  cursor: pointer;
}
.arrows .arrow-container:nth-of-type(3) svg,
.arrows .arrow-container:hover svg {
  fill: black;
}

.jewelery-grid {
  width: calc(100vw - 120px);
  display: grid;
  grid-template-columns: 58% 10% 1fr 1fr;
  grid-row: auto;
  padding: 0 0 2rem 4rem;
}
.jewelery-grid .jewelery-feature {
  max-height: 600px;
}
.jewelery-grid div:last-of-type {
  grid-column: span 2;
}
.jewelery-grid div:last-of-type img {
  min-width: 100%;
}

.jewelery-title {
  grid-column: span 3;
  border-left: 10px solid white;
}

.flex-arrows {
  margin-top: 10px;
  border-right: none;
}
.flex-arrows .arrow-container {
  width: 100%;
  height: 130px;
}
.flex-arrows .arrow-container:nth-of-type(4) {
  background-color: transparent;
}
.flex-arrows .arrow-container:nth-of-type(4) svg {
  fill: #E8CA00;
}

.jewelery-secondary {
  border-top: 10px solid white;
  border-left: 10px solid white;
}

.mens-grid {
  width: calc(100vw - 120px);
  padding: 0 0 2rem 4rem;
  display: grid;
  grid-template-columns: 55% 10% 1fr;
  grid-row: 60% 1fr;
  grid-row: auto;
}

.mens-feature {
  border-right: 10px solid white;
}

.mens-arrows {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: none;
}

.mens-title {
  border-left: 10px solid white;
}

.img-box {
  max-height: 300px;
  display: flex;
  border-top: 10px solid white;
  margin-left: 10px;
}
.img-box img:last-of-type {
  max-height: 200px;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
}

.womens-grid {
  width: calc(100vw - 120px);
  display: grid;
  grid-template-columns: 13% 1fr 20% 1fr;
  margin-bottom: 4rem;
}
.womens-grid .arrows {
  grid-row: span 2;
  max-height: 600px;
  border-left: 10px solid white;
}
.womens-grid .arrows .arrow-container {
  max-height: 100px;
}

.womens-feature {
  grid-column: span 2;
  position: relative;
}
.womens-feature img {
  position: absolute;
  width: 100%;
}
.womens-feature h2 {
  z-index: 5;
}

.womens-title {
  border: 10px solid white;
}

footer {
  width: calc(100vw - 120px);
  margin-top: 4rem;
}

.sale-bar {
  background-color: #E8CA00;
}
.sale-bar h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.footer-logo img {
  cursor: pointer;
}

.credentials {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 1.5rem 1rem 0.5rem 3rem;
}
.credentials h4 {
  font-family: "Codec Pro Extrabold";
  font-size: 0.9rem;
  margin: 0;
}
.credentials p {
  font-size: 0.9rem;
  padding: 0.5rem 0 1.2rem 1rem;
  margin: 0;
}

.footer-nav {
  background-color: black;
  padding: 1rem 1rem 0.5rem 3rem;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
}
.footer-nav li {
  color: white;
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 2.4rem;
}
.footer-nav li:hover {
  color: #E8CA00;
  cursor: pointer;
}

.socials {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 1rem 0.5rem 3rem;
  border: 4px solid black;
}
.socials svg {
  width: 70px;
  height: 70px;
  align-self: center;
}
.socials svg:nth-of-type(3) {
  grid-row: span 2;
}
.socials svg:hover {
  cursor: pointer;
  fill: #E8CA00;
}

.too-black {
  background-color: black !important;
}
.too-black svg {
  fill: white !important;
}

.off-right {
  transform: translateX(100%);
  opacity: 0;
}

.off-left {
  transform: translateX(-100%);
  opacity: 0;
}

.set-far-down {
  transform: translateY(40%);
  opacity: 0;
}

.set-down {
  transform: translateY(20%);
  opacity: 0;
}

.slide-in-slow-speed,
.slide-in-med-speed,
.slide-in {
  transform: translateX(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: all 0.8s ease-out;
}

.slide-in-med-speed {
  transition: all 1s ease-out;
}

.slide-in-slow-speed {
  transition: all 1.2s ease-out;
}

.visible {
  opacity: 1;
  transition: all 1s ease-in-out;
}/*# sourceMappingURL=app.css.map */