@font-face {
  font-family: "Codec Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Codec Pro Regular"), url("./fonts/CodecPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Codec Pro Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Codec Pro Extrabold"), url("./fonts/codec-pro-extrabold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  font-family: "Codec Pro Regular", Arial, sans-serif;
  color: rgb(59, 59, 59);
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem 1.5rem 4rem;
}
header img {
  cursor: pointer;
}

.mob-nav-item,
.nav-item {
  position: relative;
}
.mob-nav-item button,
.nav-item button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
}
.mob-nav-item button:hover,
.nav-item button:hover {
  border-bottom: 2px solid rgb(59, 59, 59);
}

.nav-dropdown {
  z-index: 15;
  position: absolute;
  top: 3rem;
  background-color: white;
  min-width: 200px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.nav-dropdown p {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 0;
}
.nav-dropdown p:hover {
  background-color: #E8CA00;
}

@media screen and (max-width: 500px) {
  header img {
    height: 50px;
    width: 125px;
  }
  header svg {
    height: 50px;
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100dvh;
  background-color: white;
  z-index: 10;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.6);
  padding: 1rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.mobile-menu svg {
  align-self: flex-end;
  margin-bottom: 3rem;
}
.mobile-menu img {
  align-self: center;
  margin-top: auto;
  max-width: 100%;
  margin-top: 5rem;
}
.mobile-menu .mob-nav-item {
  padding-bottom: 3rem;
}
.mobile-menu button {
  text-align: left;
  line-height: 1.8rem;
}

@media screen and (max-width: 950px) {
  .nav-item {
    display: none;
  }
  header {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 950px) {
  .toggle {
    display: none;
  }
}
aside {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100dvh;
  width: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0 1rem 0;
  z-index: 5;
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
aside .sidebar .page-locator {
  height: 30px;
  width: 10px;
  background-color: rgb(174, 183, 193);
  border-radius: 1rem;
  cursor: pointer;
}
aside .sidebar p:first-of-type {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-bottom: 2rem;
  cursor: pointer;
}
aside .sidebar .active-location {
  background-color: #E8CA00;
  width: 20px;
  cursor: auto;
}

.sidebar-text {
  font-size: 2rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 950px) {
  aside {
    display: none !important;
  }
}
.cart-btn-container {
  background-color: #E8CA00;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cart-btn-container .cart-amount {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  background-color: rgb(59, 59, 59);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}
.cart-btn-container .cart-amount p {
  color: white;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 0.08rem;
}

@media screen and (max-width: 950px) {
  .relative-sidebar-spot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cart-btn-container {
    padding: 0.6rem;
    display: grid;
    width: 54px;
    height: 54px;
    align-self: flex-start;
    margin-top: 0.4rem;
  }
  .cart-btn-container svg {
    align-self: center;
    width: 34px;
    height: 34px;
  }
  .cart-btn-container .cart-amount {
    width: 25px;
    height: 25px;
  }
  .cart-btn-container .cart-amount p {
    font-size: 1rem;
  }
}
.bottom-bar {
  display: none;
}

@media screen and (max-width: 500px) {
  .bottom-bar {
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    padding: 2rem 1rem 1.5rem 1rem;
    background-color: white;
    border-top: 2px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
  }
  .bottom-bar .cart-btn-container {
    margin: 0;
    border-radius: 0;
    min-height: 100%;
    border: none;
  }
  .bottom-bar .bottom-btn-wrapper {
    display: flex;
    align-items: center;
  }
  .bottom-bar .bottom-checkout-btn {
    border: none;
    background-color: #E8CA00;
    font-family: "Codec Pro Extrabold";
    font-size: 1rem;
    padding: 1.25rem 0rem 1.25rem 1rem;
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
    min-height: 100%;
  }
  .bottom-bar .clear-btn {
    border: none;
    margin-left: auto;
  }
}
.cart-modal {
  position: absolute;
  top: 2.3rem;
  right: 4.8rem;
  width: 460px;
  background-color: #fff;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.5);
  z-index: 15;
}
.cart-modal .cart-head {
  background-color: #E8CA00;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
}
.cart-modal .cart-head h3 {
  font-family: "Codec Pro Extrabold";
  font-size: 1.4rem;
  margin: 0;
  text-align: center;
}

.item-details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-details h2 {
  font-size: 1.2rem;
  margin: 0;
}
.item-details p {
  margin: 0;
  padding-top: 0.5rem;
}

.cart-items-wrapper {
  position: relative;
  max-height: 60dvh;
  overflow-y: auto;
}

.cart-items {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  overflow-y: scroll;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  top: 1rem;
}
.cart-item .cart-content {
  display: flex;
  align-items: center;
}
.cart-item img {
  max-height: 80px;
  width: auto;
  margin-right: 1rem;
}

.amounts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}
.amounts-container .cart-item-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8CA00;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0.5rem 0;
}
.amounts-container p {
  font-family: "Codec Pro Extrabold";
  margin: 0.5rem 0;
  padding: 0.5rem 0.7rem;
}
.amounts-container svg {
  cursor: pointer;
}
.amounts-container svg:last-of-type {
  margin-left: 1px;
}

.cart-total {
  border-top: 1px solid black;
  text-align: right;
  padding-right: 1rem;
}
.cart-total span {
  font-size: 1rem;
}

.cart-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 0.5rem 1rem;
}

.checkout-btn,
.clear-btn {
  font-family: "Codec Pro Extrabold";
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: white;
  text-transform: uppercase;
  padding: 1rem 1rem;
  border: 2px solid white;
}

.clear-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  background-color: black;
}

.checkout-btn {
  background-color: #E8CA00;
  color: rgb(59, 59, 59);
}

.cart-mobile {
  width: 90vw;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .cart-modal {
    position: static;
    width: 100%;
    box-shadow: none;
  }
  .cart-modal .cart-head {
    padding: 0.5rem 1rem;
  }
  .cart-modal .cart-head svg {
    transform: translateX(-0.5rem);
    margin: 0;
  }
  .item-details {
    padding: 0.5rem;
  }
  .cart-items {
    padding: 0.5rem 1.5rem;
    overflow-y: auto;
    max-height: auto;
  }
  .cart-item {
    margin-bottom: 2rem;
  }
  .cart-item img {
    margin: 0;
    margin-right: 1rem;
  }
  .amounts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
  }
  .amounts-container svg {
    margin-right: 0.5rem;
  }
  .amounts-container svg:first-of-type {
    margin-bottom: auto;
    margin-left: 0.1rem;
  }
  .amounts-container svg:last-of-type {
    margin-bottom: auto;
    margin-right: 0.45rem;
  }
  .cart-total {
    border-top: 1px solid black;
    text-align: right;
    padding-right: 1rem;
  }
  .cart-total span {
    font-size: 1rem;
  }
  .cart-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0.5rem 1rem;
  }
  .clear-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    background-color: black;
    font-family: "Codec Pro Extrabold";
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    border: 2px solid white;
  }
  .checkout-btn {
    background-color: #E8CA00;
    font-family: "Codec Pro Extrabold";
    padding: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 2px solid white;
    cursor: pointer;
  }
}
@media screen and (max-width: 950px) {
  .cart-item {
    margin-bottom: 1rem;
  }
  .amounts-container {
    max-height: 100px;
  }
}
.shipping-info {
  padding: 1rem;
  max-height: 70dvh;
  overflow-y: scroll;
}
.shipping-info h2 {
  font-family: "Codec Pro Extrabold";
}

.form-group {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 40% 1fr;
}
.form-group input {
  font-size: 1rem;
  padding: 0.2rem;
}

#freeShip {
  font-size: 1.2rem;
  color: red;
  text-decoration: line-through;
}

@media screen and (max-width: 500px) {
  .shipping-info {
    padding: 0 2rem 1rem 1rem;
    max-height: 50dvh;
  }
  .payment-info {
    max-height: 70dvh;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .btn-container button {
    font-size: 1rem;
  }
}
.payment {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1rem;
}
.payment h2 {
  align-self: flex-start;
}
.payment h3 {
  margin: 0;
  padding-bottom: 1rem;
}

.final-list-item {
  display: grid;
  grid-template-columns: 1fr 10% 10%;
  gap: 0.5rem;
  width: 100%;
}

.filler-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}
.filler-div p {
  margin: auto;
}

.payment-form {
  position: absolute;
  left: 38%;
  top: 30%;
  background-color: rgb(245, 246, 252);
  width: 350px;
  height: 400px;
  border-radius: 0.5rem;
  border: 1px solid gray;
  padding: 2rem;
  display: grid;
  grid-template-columns: 47% 47%;
  gap: 1rem;
  box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.6);
}
.payment-form .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-column: span 2;
}
.payment-form img {
  max-height: 40px;
  max-width: 70px;
  margin-right: 0.5rem;
  cursor: pointer;
}
.payment-form svg {
  max-height: 60px;
  max-width: 80px;
  cursor: pointer;
}
.payment-form .card-inputs:nth-of-type(2),
.payment-form .card-inputs:nth-of-type(3) {
  grid-column: span 2;
}
.payment-form .card-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-form .card-inputs label {
  color: rgb(59, 59, 59);
  padding-bottom: 0.3rem;
}
.payment-form .card-inputs input {
  padding: 0.3rem;
  max-width: 80%;
}
.payment-form button {
  background-color: rgb(67, 167, 167);
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
}
.payment-form button svg {
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
  .payment-form {
    left: 0;
    margin-left: 2vw;
    width: clamp(min(95%, 100% - 4vw), 0px, 100%);
  }
}
.hero {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 75vh;
  padding: 0 6rem 0rem 4rem;
}

.feature-img {
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("./assets/feature-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  border-right: 10px solid white;
}
.feature-img h1 {
  z-index: 5;
  color: white;
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  font-size: 8rem;
  letter-spacing: -0.5rem;
  margin: 0;
}
.feature-img p {
  color: white;
  font-size: 2rem;
  line-height: 2.4rem;
  max-width: 80%;
}
.feature-img button {
  font-family: "Codec Pro Extrabold";
  width: 160px;
  height: 70px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}
.feature-img button:hover {
  background-color: black;
  color: white;
}

.secondary-img {
  grid-row: span 2;
  background: url("./assets/secondary600.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 350px;
  border-top: 10px solid white;
  border-right: 10px solid white;
}

.graphics-container {
  display: grid;
  grid-template-columns: 40% 1fr;
  border-top: 10px solid white;
}
.graphics-container .arrow-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}
.graphics-container .arrow-container svg {
  height: 90%;
  width: 90%;
}
.graphics-container .arrow-container:hover {
  background-color: white;
}
.graphics-container .arrow-container:hover svg {
  fill: black;
}
.graphics-container .read-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Codec Pro Extrabold";
  font-size: 3rem;
  padding-left: 2rem;
  background-color: #E8CA00;
}

@media screen and (max-width: 1100px) {
  .hero {
    display: flex;
    width: 100%;
    padding: 0 1rem;
  }
  .hero button {
    padding: 1rem;
    margin-bottom: 2rem;
  }
  .feature-img h1 {
    padding-top: 4rem;
  }
  .feature-img p {
    line-height: 2rem;
  }
  .secondary-img,
  .graphics-container {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .hero {
    padding: 0;
  }
  .hero h1 {
    font-size: 6rem;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    height: 70vh;
  }
  .hero h1 {
    font-size: clamp(2rem, 5rem, 15vw);
    letter-spacing: -0.2rem;
  }
  .hero p {
    font-size: clamp(1rem, 2rem, 8vw);
  }
  .feature-img {
    background: url("./assets/feature500.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.products-display {
  padding: 2rem 100px 2rem 2rem;
}

.add-cart-btn {
  font-family: "Codec Pro Extrabold";
  border: none;
  background-color: #E8CA00;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.add-cart-btn:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in;
}

.split-row {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 2rem 0;
}

.product-img-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img-main img {
  height: clamp(200px, 50vh, 50vh);
}

.product-main-content {
  padding: 2rem;
}
.product-main-content h2 {
  font-family: "Codec Pro Extrabold";
  font-size: 3.4rem;
}
.product-main-content h3 {
  margin: 0;
  font-size: 2rem;
}
.product-main-content h4 {
  font-size: 2rem;
}
.product-main-content span {
  color: rgb(202, 28, 28);
  font-size: 1.4rem;
  text-decoration: line-through;
  padding-left: 0.5rem;
}
.product-main-content p {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

@media screen and (max-width: 950px) {
  .products-display {
    padding: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .split-row {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 700px) {
  .product-main-content {
    padding: 1rem;
  }
}
.grid-row-thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grid-row-thirds::-webkit-scrollbar {
  display: none;
}

.product-img-secondary {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-img-secondary img {
  height: clamp(200px, 50vh, 50vh);
}

.hover-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  width: 150%;
  height: 150%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 30%, transparent 60%);
  padding: 12rem 12rem;
  z-index: 5;
}
.hover-div h2 {
  color: white;
  text-align: center;
  font-size: 1.6rem;
  line-height: 2rem;
}
.hover-div p {
  color: lightgray;
  font-size: 2.4rem;
}
.hover-div .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.hover-div .small-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.hover-div .small-btn:hover {
  transform: scale(1);
  transition: transform 0.5s ease-in;
}
.hover-div .text-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}
.hover-div .text-btn:hover {
  text-decoration: underline;
}

.tap-info {
  display: none;
}

.relative-btn-container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.small-item-count,
.item-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(59, 59, 59);
}
.small-item-count p,
.item-count p {
  color: #E8CA00;
  font-family: "Codec Pro Extrabold";
}

.item-count {
  width: 40px;
  height: 40px;
  top: -1rem;
  right: -1rem;
}
.item-count p {
  margin-top: 1.5rem;
}

.small-item-count {
  width: 25px;
  height: 25px;
  top: -0.5rem;
  right: -0.5rem;
}
.small-item-count p {
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .grid-row-thirds {
    padding: 4rem 0 6rem 2rem;
  }
  .hover-div {
    justify-content: center;
    width: 250%;
  }
  .hover-div p {
    margin: 0;
    padding: 1rem;
  }
  .hover-div h2 {
    margin: 0;
    padding: 0 4rem;
  }
  .hover-div .text-btn {
    display: none;
  }
  .hover-div .small-btn {
    max-width: 120px;
  }
  .hover-div:first-of-type {
    padding: 8rem 12rem;
  }
  .tap-info {
    display: block;
    margin-top: -2rem;
    text-align: center;
  }
}
.mens-banner {
  display: grid;
  grid-template-columns: 30% 1fr 35%;
  width: calc(100vw - 120px);
  grid-row: auto;
}
.mens-banner img:hover {
  filter: none;
}

.banner-content div:first-of-type {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.banner-content img {
  max-width: 100%;
}
.banner-content .mini-arrow-container:last-of-type {
  transform: translateX(0);
  transform: translateY(-40%);
  background-color: #fff;
  cursor: auto;
}
.banner-content .mini-arrow-container:last-of-type svg {
  fill: black;
}

.mini-arrow-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  transform: translateX(-210%);
}
.mini-arrow-container svg {
  height: 90%;
  width: 90%;
  fill: white;
}

.mini-arrow-container:hover {
  background-color: white;
}
.mini-arrow-container:hover svg {
  fill: black;
}

.mini-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0;
}
.mini-grid img {
  grid-column: span 3;
  width: 100%;
  height: 100%;
}
.mini-grid .reverse-arrow {
  background-color: #E8CA00;
}
.mini-grid .reverse-arrow svg {
  fill: black;
}

.boys-img {
  margin-left: auto;
  height: 100%;
  width: 100%;
  background: url("./assets/mens-fashion.webp");
  background-size: cover;
  filter: saturate(0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.boys-img h2 {
  font-family: "Codec Pro Extrabold";
  z-index: 5;
  color: rgba(255, 255, 255, 0.47);
  font-size: 10rem;
  margin: 0;
  cursor: pointer;
}
.boys-img h2:hover {
  color: white;
  transition: all 1s ease-in-out;
}

.boys-img:hover {
  filter: none;
  transition: all 1s ease-in-out;
}
.boys-img:hover h2 {
  transition: all 1s ease-in-out;
  color: white;
}

#mensLink {
  margin-right: 0.3rem;
  width: 650px;
  margin-bottom: 0;
}

@media screen and (max-width: 1300px) {
  .mens-banner {
    grid-template-columns: 40% 1fr;
  }
  .banner-content {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .mens-banner {
    width: 100%;
  }
  .jewellry-link,
  #mensLink {
    padding-right: 0.5rem;
    width: 90vw;
    margin-right: 0.5rem;
  }
  .jewellry-link h2,
  #mensLink h2 {
    font-size: clamp(0.8rem, 2.5rem, 20vw);
  }
}
@media screen and (max-width: 800px) {
  .mens-banner {
    display: flex;
  }
  .mens-banner .mini-grid {
    display: none;
  }
  .boys-img h2 {
    margin: 2rem 0;
  }
}
@media screen and (max-width: 580px) {
  #mensLink {
    width: 90vw;
    margin-right: 0.5rem;
  }
  #mensLink h2 {
    font-size: clamp(0.8rem, 1.5rem, 10vw);
  }
  .boys-img {
    max-width: 100vw;
    min-width: 100vw;
  }
  .boys-img h2 {
    font-size: clamp(1.5rem, 8rem, 50vw);
  }
}
.products-carousel {
  position: relative;
  padding: 6rem 0 2rem 0;
}
.products-carousel h2 {
  font-family: "Codec Pro Extrabold";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  letter-spacing: -0.8rem;
  line-height: 12.5rem;
  opacity: 0.1;
  padding-right: 1.2rem;
}
.products-carousel .slick-list {
  padding: 16rem 4rem 12rem 4rem !important;
}
.products-carousel .slider-img {
  padding: 0 4rem;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  position: relative;
}
.products-carousel .slider-img img {
  max-height: 200px;
  min-height: 200px;
}
.products-carousel .slick-current {
  transform: scale(1.6);
  transition: all 1s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-carousel .slider-hover-div {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 200%;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 30%, transparent 60%);
  padding: 6rem 8rem 2rem 8rem;
  transition: all 1s ease-in-out;
  z-index: 5;
}
.products-carousel .slider-hover-div p {
  color: lightgray;
  font-size: 3.4rem;
}
.products-carousel .slick-dots li {
  padding: 0 1.4rem;
}
.products-carousel .slick-dots li button:before {
  color: #E8CA00;
  font-size: 1rem;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.products-carousel .slick-active {
  transform: scale(1);
  background: transparent;
  transition: all 1s ease-in-out;
}
.products-carousel .slick-active button::before {
  background: rgb(59, 59, 59);
  transform: scale(1.4);
  transition: all 1s ease-in-out;
  border-radius: 50%;
  padding-bottom: 0.3rem;
}

@media screen and (max-width: 1300px) {
  .products-carousel {
    padding: 5vw 0 2rem 0;
  }
  .products-carousel h2 {
    font-size: 20vw;
  }
}
@media screen and (max-width: 700px) {
  .products-carousel h2 {
    line-height: 15vw;
  }
}
@media screen and (max-width: 500px) {
  .products-carousel {
    padding: 0rem 0 2rem 0;
  }
  .products-carousel h2 {
    text-shadow: 0px 180px black;
  }
  .slider-img {
    padding: 0;
    z-index: -1 !important;
  }
  .slider-hover-div {
    width: 200% !important;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 30%, transparent 60%);
  }
}
.jewellry-link {
  display: grid;
  grid-template-columns: 80% 1fr;
  height: 100px;
  width: 600px;
  padding-right: 100px;
  margin-left: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
.jewellry-link div:first-of-type {
  background-color: #E8CA00;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.jewellry-link div:first-of-type h2 {
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.5rem;
  margin-top: 0.5rem;
}
.jewellry-link div:first-of-type:hover {
  background-color: rgb(59, 59, 59);
}
.jewellry-link div:first-of-type:hover h2 {
  color: #E8CA00;
}
.jewellry-link div:last-of-type {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.jewellry-link div:last-of-type svg {
  fill: white;
  height: 80%;
  width: 80%;
}
.jewellry-link div:last-of-type:hover {
  background-color: white;
}
.jewellry-link div:last-of-type:hover svg {
  fill: black;
}

@media screen and (max-width: 950px) {
  .jewellry-link {
    padding-right: 0.5rem;
    width: 90vw;
    margin-right: 0.5rem;
  }
  .jewellry-link h2 {
    font-size: clamp(0.8rem, 2.5rem, 20vw);
  }
}
@media screen and (max-width: 580px) {
  .jewellry-link {
    width: 90vw;
    margin-right: 0.5rem;
  }
  .jewellry-link h2 {
    font-size: 1.5rem;
  }
}
.primary {
  display: grid;
  grid-template-columns: 40% 1fr;
  padding: 0rem 100px 2rem 2rem;
}
.primary img {
  max-height: 600px;
  margin: auto;
}

.primary-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.primary-content h2 {
  font-family: "Codec Pro Extrabold";
  font-size: 3.4rem;
}
.primary-content h3 {
  margin: 0;
  font-size: 2rem;
}
.primary-content h4 {
  font-size: 2rem;
}
.primary-content span {
  color: rgb(202, 28, 28);
  font-size: 1.4rem;
  text-decoration: line-through;
  padding-left: 0.5rem;
}
.primary-content p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin: 0;
}
.primary-content .text-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  padding-right: 4rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.page-layout {
  padding: 0 8rem 0 4rem;
}
.page-layout img {
  max-width: 500px;
}
.page-layout .btn-container {
  padding-top: 3rem;
}
.page-layout .checkout-btn:hover {
  border: none;
}

.second-row {
  grid-template-columns: 60% 1fr;
}
.second-row img {
  grid-column: 2;
}
.second-row .page-content {
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 1200px) {
  .primary {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 950px) {
  .primary {
    padding: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .primary img {
    max-height: 40vh;
    max-width: 90vw;
  }
  .primary-content {
    padding: 1rem;
  }
  .primary-content h2 {
    font-size: 2.6rem;
  }
  .primary-content .text-btn {
    margin-bottom: 2rem;
    padding: 0;
  }
  .add-cart-btn {
    margin-bottom: 2rem;
  }
  .second-row img {
    max-width: 90vw;
  }
}
.electronics-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 67%;
  grid-row: auto;
  height: 80vh;
  width: calc(100vw - 120px);
  padding-left: 4rem;
  margin-bottom: 8rem;
}

.inner-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
}

.title {
  background-color: #E8CA00;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.title h1 {
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  font-size: 4rem;
}

.electronics-title {
  border-right: 10px solid white;
  border-bottom: 10px solid white;
}

.mens-feature,
.jewelery-feature,
.electronic-feature {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-row: span 2;
  z-index: 0;
}
.mens-feature h2,
.mens-feature p,
.jewelery-feature h2,
.jewelery-feature p,
.electronic-feature h2,
.electronic-feature p {
  font-family: "Codec Pro Extrabold";
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  z-index: 5;
  font-size: 7rem;
  letter-spacing: -0.2rem;
  padding: 1rem 0 0 3rem;
}
.mens-feature img,
.jewelery-feature img,
.electronic-feature img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mens-feature .text-btn,
.jewelery-feature .text-btn,
.electronic-feature .text-btn {
  font-family: "Codec Pro Extrabold";
  font-size: 1.4rem;
  z-index: 5;
  align-self: flex-start;
  margin-left: 3.5rem;
  border: none;
  background-color: white;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-top: 2rem;
  cursor: pointer;
  z-index: 1;
}

.person-img {
  border-right: 10px solid white;
}
.person-img img {
  max-width: 100%;
  max-height: 100%;
}

.arrows {
  max-height: 100%;
  border-right: 10px solid white;
}
.arrows .arrow-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrows .arrow-container svg {
  height: 90%;
  width: 90%;
  fill: white;
}
.arrows .arrow-container:nth-of-type(2) {
  background-color: #E8CA00;
}
.arrows .arrow-container:nth-of-type(2) svg {
  fill: black;
}
.arrows .arrow-container:nth-of-type(3),
.arrows .arrow-container:hover {
  background-color: white;
  cursor: pointer;
}
.arrows .arrow-container:nth-of-type(3) svg,
.arrows .arrow-container:hover svg {
  fill: black;
}

@media screen and (max-width: 1200px) {
  .electronics-grid {
    height: 60vh;
  }
  .electronic-feature p {
    font-size: 6rem;
  }
  .electronics-title h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 1050px) {
  .electronic-feature p {
    font-size: 5rem;
  }
}
@media screen and (max-width: 950px) {
  .electronics-grid {
    padding: 1rem;
    width: 100%;
    margin-bottom: 4rem;
  }
  .electronic-feature p {
    font-size: 5rem;
  }
}
@media screen and (max-width: 800px) {
  .electronics-grid {
    grid-template-columns: 80% 1fr;
  }
  .electronics-grid .electronic-feature {
    max-height: 60vh;
  }
  .inner-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .person-img,
  .electronics-title {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .electronic-feature p {
    font-size: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .electronics-grid {
    display: flex;
  }
  .electronics-grid .electronic-feature {
    width: 100%;
  }
  .electronics-grid .electronic-feature p {
    padding: 0 1rem;
  }
  .electronics-grid .inner-grid {
    display: none;
  }
}
.jewelery-grid {
  width: calc(100vw - 120px);
  display: grid;
  grid-template-columns: 58% 10% 1fr 1fr;
  grid-row: auto;
  padding: 0 0 2rem 4rem;
}
.jewelery-grid .jewelery-feature {
  max-height: 600px;
  border-right: 10px solid white;
}
.jewelery-grid div:last-of-type {
  grid-column: span 2;
}
.jewelery-grid div:last-of-type img {
  min-width: 100%;
}

.jewelery-title {
  grid-column: span 3;
}

.flex-arrows {
  margin-top: 10px;
  border-right: none;
}
.flex-arrows .arrow-container {
  width: 100%;
  height: 130px;
}
.flex-arrows .arrow-container:nth-of-type(4) {
  background-color: transparent;
}
.flex-arrows .arrow-container:nth-of-type(4) svg {
  fill: #E8CA00;
}

.jewelery-secondary {
  border-top: 10px solid white;
  border-left: 10px solid white;
}

@media screen and (max-width: 1100px) {
  .jewelery-grid .jewelery-title h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 950px) {
  .jewelery-grid {
    padding: 0;
  }
  .jewelery-grid .arrows {
    display: none;
  }
  .jewelery-grid .jewelery-feature h2 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .jewelery-grid {
    grid-template-columns: 80% 1fr;
    width: 100%;
    margin-bottom: 4rem;
  }
  .jewelery-grid .arrows {
    display: flex;
    flex-direction: column;
  }
  .jewelery-secondary,
  .jewelery-title {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .jewelery-grid {
    display: flex;
  }
  .jewelery-grid .jewelery-feature {
    width: 100%;
    height: 400px;
  }
  .jewelery-grid .arrows {
    display: none;
  }
}
.mens-grid {
  width: calc(100vw - 120px);
  padding: 0 0 2rem 4rem;
  display: grid;
  grid-template-columns: 55% 10% 1fr;
  grid-row: 60% 1fr;
  grid-row: auto;
}

.mens-feature {
  border-right: 10px solid white;
}

.mens-arrows {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: none;
}

.mens-title {
  border-left: 10px solid white;
}

.img-box {
  max-height: 300px;
  display: flex;
  border-top: 10px solid white;
  margin-left: 10px;
}
.img-box img:last-of-type {
  max-height: 200px;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .img-box {
    display: none;
  }
  .mens-title {
    grid-row: span 2;
  }
  .mens-title h1 {
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 1200px) {
  .mens-grid {
    grid-template-columns: 60% 1fr;
  }
  .mens-arrows {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .mens-grid {
    width: 100%;
    grid-template-columns: 80% 1fr;
    padding: 0 1rem;
    margin-bottom: 4rem;
  }
  .mens-title {
    display: none;
  }
  .mens-arrows {
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .mens-feature h2 {
    font-size: 5rem;
    line-height: 3rem;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .mens-grid {
    padding: 0;
  }
  .mens-feature h2 {
    font-size: 4rem;
    line-height: 2rem;
  }
}
.womens-grid {
  width: calc(100vw - 120px);
  display: grid;
  grid-template-columns: 13% 1fr 20% 1fr;
  margin-bottom: 4rem;
}
.womens-grid .arrows {
  grid-row: span 2;
  max-height: 600px;
  border-left: 10px solid white;
}
.womens-grid .arrows .arrow-container {
  max-height: 100px;
}

.womens-feature {
  grid-column: span 2;
  position: relative;
}
.womens-feature img {
  position: absolute;
  width: 100%;
}
.womens-feature h2 {
  z-index: 5;
}

.womens-title {
  border: 10px solid white;
}

.womens-small h2 {
  display: none;
}

@media screen and (max-width: 1300px) {
  .womens-grid {
    grid-template-columns: 40% 1fr 20%;
  }
  .womens-small img {
    width: 100%;
  }
  .womens-secondary {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .womens-grid {
    width: 100%;
    grid-template-columns: 30% 1fr 20%;
  }
  .womens-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .womens-title h1 {
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 700px) {
  .womens-grid {
    width: 100%;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr;
    margin-bottom: 4rem;
  }
  .womens-title {
    display: none;
  }
  .text-btn {
    margin-bottom: 0;
  }
}
footer {
  width: calc(100vw - 120px);
  margin-top: 4rem;
}

.sale-bar {
  background-color: #E8CA00;
}
.sale-bar h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 1rem 0;
  margin: 0;
}

.footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.footer-logo img {
  cursor: pointer;
}

.credentials {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  padding: 1.5rem 1rem 0.5rem 3rem;
}
.credentials h4 {
  font-family: "Codec Pro Extrabold";
  font-size: 0.9rem;
  margin: 0;
}
.credentials p {
  font-size: 0.9rem;
  padding: 0.5rem 0 1.2rem 1rem;
  margin: 0;
}

.footer-nav {
  background-color: black;
  padding: 1rem 1rem 0.5rem 3rem;
}
.footer-nav ul {
  list-style: none;
  padding: 0;
}
.footer-nav li {
  color: white;
  font-size: 1.4rem;
  text-transform: capitalize;
  line-height: 2.4rem;
}
.footer-nav li:hover {
  color: #E8CA00;
  cursor: pointer;
}

.socials {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1rem 0.5rem 3rem;
  border: 4px solid black;
}
.socials .socials-title {
  grid-column: span 2;
}
.socials .socials-title h4 {
  font-size: 1.2rem;
  line-height: 1.3rem;
  padding-top: 0.5rem;
  margin: 0;
}
.socials svg {
  width: 50px;
  height: 50px;
  margin: auto;
}
.socials svg:hover {
  cursor: pointer;
  fill: #E8CA00;
}

@media screen and (max-width: 1000px) {
  .footer-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .credentials {
    grid-row: 2;
  }
}
@media screen and (max-width: 950px) {
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .sale-bar h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 500px) {
  footer {
    margin-top: 0rem;
  }
  .sale-bar h2 {
    font-size: 1.6rem;
    padding: 1rem 0.5rem;
  }
  .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer-nav,
  .credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem 1rem 0;
    border: none;
  }
  .footer-nav li,
  .credentials li {
    font-size: 1rem;
  }
  .socials {
    display: flex;
    align-items: center;
    border: none;
  }
  .socials .socials-title h4 {
    font-size: 1rem;
  }
  .socials svg {
    max-width: 30px;
  }
}
.loader {
  margin: auto;
}

.active-page {
  font-family: "Codec Pro Extrabold";
  text-decoration: underline;
}

.too-black {
  background-color: black !important;
}
.too-black svg {
  fill: white !important;
}

.off-right {
  transform: translateX(100%);
  opacity: 0;
}

.off-left {
  transform: translateX(-100%);
  opacity: 0;
}

.set-far-down {
  transform: translateY(40%);
  opacity: 0;
}

.set-down {
  transform: translateY(20%);
  opacity: 0;
}

.slide-in-slow-speed,
.slide-in-med-speed,
.slide-in {
  transform: translateX(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
  transition: all 0.8s ease-out;
}

.slide-in-med-speed {
  transition: all 1s ease-out;
}

.slide-in-slow-speed {
  transition: all 1.2s ease-out;
}

.visible {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.invisible {
  display: none;
}

.error {
  border: 1px solid red;
}

.error input::-moz-placeholder {
  color: red;
}

.error input::placeholder {
  color: red;
}

@media screen and (max-width: 500px) {
  .off-right {
    transform: translateX(70%);
    opacity: 0;
  }
  .off-left {
    transform: translateX(70%);
    opacity: 0;
  }
}/*# sourceMappingURL=app.css.map */